h4 {
color: black;
font-size: 20px;
font-weight: bold;
}

body {
    background-image: url("assets/milad-fakurian-HE1_K4_-QT8-unsplash.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
}
/*styling the game-Board*/
#gameBoard {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 auto; /*centering the game-Board*/
    display: flex;
    flex-wrap: wrap;
}

/*styling the tiles inside the game-board*/
#gameBoard img {
    border: 2px solid white;
    border-radius: 4px;
    cursor: move;
}


#gridSize {
    border: none;
    color: #fff;
    background-image: linear-gradient(40deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin: 10px 10px;
}
       
    #gridSize:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}
       
    @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
       
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
       
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#shuffle {
    border: none;
    color: #fff;
    background-image: linear-gradient(40deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
}
   
   #shuffle:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#turnsAndTimer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 40px;
}

#test {
    display: none;
}

#winningScreen {
    display: none;
}
#winningSreen::after{
    display: flexbox;
    width: 100px;
    height: 100px;
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
}