@font-face {
    font-family: 'qaz';
    src: url('assets/qaz-font/Qaz-ZV74m.ttf');
}

h1 {
color: rgb(0, 0, 0);
font-size: 40px;
font-weight: bold;
margin: 0;
padding:5px;
}

#closeWinningScreen {
    position: absolute;
    top: 20px;
    right: 20px;

}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'qaz';
    color: black;
}
/*styling the game-Board*/
#gameBoard {
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 auto; /*centering the game-Board*/
    display: flex;
    flex-wrap: wrap;
}

/*styling the tiles inside the game-board*/
#gameBoard img {
    opacity: 1;
    border: 2px solid white;
    border-radius: 4px;
    cursor: grab;
}

.wrongPos {
    opacity: 0.5 !important;
}

#optionBarTop {
    display: flex;
    margin: 5px auto;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    width: 600px;

}
#turnsAndTimer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 50px;
    margin: 10px auto;
    border: none;
    color: #fff;
    background-image: linear-gradient(40deg, #0062ff, #4ce3f7);
    border-radius: 35px;
    font-family: inherit;
    font-size: 25px;
}

#sound {
    background-image: url("assets/muteWhite.svg");
}

.choose-file-container, .button-container, .shuffle-container{
margin: 0;
display: flex;
justify-content: center;
}


#gridSize, #startGame, #chooseFile, #sound {
    margin: 20px;
    border: none;
    color: #fff;
    background-image: linear-gradient(40deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 20px;
    padding: 0.6em 1em;
    margin: 10px 10px;
    margin: 2px;
}
  
#sound:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    }      
    @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
       
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
       
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#chooseFile:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    }      
    @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
       
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
       
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#gridSize:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    }      
    @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
       
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
       
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#startGame:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    }      
    @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
       
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
       
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#fileInput, #soundButton, #shuffle {
    display: none;
}

#test {
    display: none;
}

#winningScreen {
display: none;
}

body .winningScreenEnabled {
    position: absolute;
    top: 0;
    left: 0;
    display: flex !important;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.59);
    font-family: 'Noto Sans JP', sans-serif;
    justify-content: center;
    align-content: center;
}

#winningScreenItem {
position: relative;
width: auto;
height: auto;
background-color: white;
padding: 20px 50px;
}